In [14]:
import pandas as pd

itens_pedido = pd.read_excel('../data/ITEM_PEDIDO-v2.xlsx')
itens = pd.read_excel('../data/ITENS-v3.xlsx')

In [18]:
itens_pedido.head()

   ID_PEDIDO ID_ITEM  QUANTIDADE
0  120210601  item C           4
1  220210601  item A           3
2  320210604  item C           1
3  420210604  item B           4
4  420210604  item C           2

In [16]:
itens.head()

  Unnamed: 0   0
0     item A  10
1     item B  15
2     item C  20
3     item D  25

In [17]:
# Deletar coluna Unnamed: 0
itens_pedido.drop('Unnamed: 0', axis=1, inplace=True)

In [51]:
# Renomear colunas
itens.rename(columns={'Unnamed: 0': 'ITEM', 0: 'VALOR'}, inplace=True)

In [52]:
itens.head()

     ITEM  VALOR
0  item A     10
1  item B     15
2  item C     20
3  item D     25

In [25]:
# NÃºmero de pedidos por item
import pandas as pd

num_pedidos_por_item = itens_pedido['ID_ITEM'].value_counts()

num_pedidos_por_item

ID_ITEM
item D    83
item B    73
item C    72
item A    67
Name: count, dtype: int64

In [32]:
# Calcular o faturamento total por item
dados_combinados = pd.merge(itens_pedido, itens, left_on='ID_ITEM', right_on='ITEM')


dados_combinados['FATURAMENTO'] = dados_combinados['QUANTIDADE'] * dados_combinados['VALOR']


faturamento_por_item = dados_combinados.groupby('ID_ITEM')['FATURAMENTO'].sum()

print(faturamento_por_item)

ID_ITEM
item A    2110
item B    3255
item C    4320
item D    6275
Name: FATURAMENTO, dtype: int64

In [54]:
# Adicionar a coluna VALOR_UNIT na tabela itens_pedido
valores_unitarios = dict(zip(itens['ITEM'], itens['VALOR']))

itens_pedido['VALOR_UNIT'] = itens_pedido['ID_ITEM'].map(valores_unitarios)

itens_pedido.head()

   ID_PEDIDO ID_ITEM  QUANTIDADE  VALOR_UNIT
0  120210601  item C           4          20
1  220210601  item A           3          10
2  320210604  item C           1          20
3  420210604  item B           4          15
4  420210604  item C           2          20

In [56]:
import pandas as pd

pedidos = pd.read_excel('../data/PEDIDO-v1.xlsx')
pedidos.drop(['Unnamed: 0', 'VALOR_TOTAL'], axis=1, inplace=True)

dados_combinados = pd.merge(itens_pedido, pedidos, on='ID_PEDIDO')

dados_combinados['VALOR_TOTAL_ITEM'] = dados_combinados['QUANTIDADE'] * dados_combinados['VALOR_UNIT']

dados_combinados['VALOR_TOTAL_PEDIDO'] = dados_combinados.groupby('ID_PEDIDO')['VALOR_TOTAL_ITEM'].transform('sum')

   ID_PEDIDO ID_ITEM  QUANTIDADE  VALOR_UNIT        DATA  VALOR_TOTAL_ITEM  \
0  120210601  item C           4          20  2021-06-01                80
1  220210601  item A           3          10  2021-06-01                30
2  320210604  item C           1          20  2021-06-04                20
3  420210604  item B           4          15  2021-06-04                60
4  420210604  item C           2          20  2021-06-04                40

   VALOR_TOTAL_PEDIDO
0                  80
1                  30
2                  20
3                 100
4                 100

In [59]:
dados_combinados.to_csv('../data/dados_combinados.csv', index=False, sep=';')